*{
    margin: 0;
    padding: 0;
    border: 0;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
}

.pbdLogo{
    width: 36px;
    height: 36px;
    margin: 26px;
}
.navBar a{
    text-decoration: none;
    color: #060a24
}
.navBar li{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    color: #060a24;
    letter-spacing: 0;
    line-height: 1.75em;
    height: 1.75em;
    list-style: none;
    margin: 1.75em 3em; 
    display: inline-flex;
    text-decoration: none;
    
}
.navBar a:visited{
    text-decoration: none;
    color: #060a24;

}
.navBar a:hover{
    color: #00F3BB;
    text-decoration: line-through;
}

.navBar li:active{
    color: rgba(6,10,36,0.56);
    text-decoration: line-through;
}
.presentacion{
    display: flex;
    flex-direction: column;
}
.presentacion h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 4em;
    color: #060A24;
    margin: 120px 500px 0em 200px;
    display: block;
    min-width: 212px;
    max-height: 84px;
}
#world{
    text-decoration: line-through;
}

#dot{
    color: #0000EC;
}
.presentacion p{
    font-family: 'IBM Plex Mono';
    font-size: 1em;
    color: #060A24;
    margin: 0em 38.25em 3.5em 12.5em;
    width: 628px;
}
.conoceMas{
    margin: 0 63.37em 0.31em 12.7em;
    width: 226px;
    height: 56px;
}

.boton{
    font-family:'IBM Plex Mono';
    font-size: 1.125em;
	background-color:#00F3BB;
	cursor:pointer;
	color: #060A24;
    padding:28px 113px;
    font-weight: bold;
}

.boton:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color:#FFFFFF;
    font-weight: lighter;
}
.episodios{
    position: relative;
    overflow: hidden;
}

.epiBg{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: absolute;
    width: 100%;
    height:1042.6px;
    transform: skewY(-6deg);
    transform-origin: right;
    
}
.contenedorIframes{
    position: relative;
    flex-direction: column;
    
}

.episodiosTt{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color: #FFFFFF;
    margin: 250px 1031px 13px 200px;
    width: 209px;
    height: 62px;
    position: relative;
}

.arriba{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.abajo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

iFrame{
    display: flex;
    width: 40.55%;
    height: 232px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.contenedorDDV{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 32px ;
    margin-left: 16%;
    margin-right: 16%;

}
.DDVtexto{
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
}
.DDVtexto h2{
    font-size: 3em;
    font-weight: lighter;
}
.DDVtexto p {
    font-family: 'IBM Plex Mono';
    font-size: 1em;
    color: #060A24;
    padding: 0px;
    min-width: 464px;
    max-width: 464px ;
}
.invitadas{
    margin-top: 64px;
}
.invitadasTexto h2{
    display: inline-flex;
    margin-left: 200px;
    margin-bottom: 36px ;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: normal;
}
.galeria{
    width: 33.19%;
    padding: 0px;
    margin: 0px;
}
.invitadasGaleria{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    
}

.galeriaSuperior{
    display: inline-flex;
}
.galeriaInferior{
    display: inline-flex;
}
.nuestrosTemas h2{
    display: inline-flex;
    margin-left: 200px;
    margin-top: 64px;
    margin-bottom: 36px ;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: normal;
}
.contenedorTemas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 69px;
    margin-left: 200px;
    margin-right: 200px;

}
.temas{
    height: 200px;
    text-align: center;
} 
.temas h3{
    margin-top: 29px;
    max-width: 220px;
    font-family: 'IBM Plex Sans';
    font-weight: bold;
}
.novedades{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 374px;
    margin-right: 374px;
   
}
.novedadBg{
    height: 522px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: absolute;
    width: 100%;
    transform: skewY(-3deg);
    transform-origin: right;
}
.pregunta h2{
    margin-top: 200px;
    margin-bottom: 36px ;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    font-weight: normal;

}

footer h4{
    color: #060A24;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
}

footer{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 136px ;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 75px 100px 75px 100px;
}
.contenedorRedes ul{
    list-style: none;
}

.contenedorRedes li{
    margin: 18px ;
    display: inline;
    color: #060A24;
}
.contenedorRedes a:visited{
    text-decoration: none;
    color: #060A24;
}
